.chipsMain{
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    width: 100%;
    /* max-width: 25rem;
    min-width: 15rem; 
    margin-left:10px ; */
}
.filterIcon{
    margin:10px
}

.chips{
    display: flex;
    flex-wrap: wrap;
    /* cursor: pointer; */
}

.singleChip{
    cursor: pointer;
    padding: 4px;
    margin: 4px !important;
    border-radius: 20px !important;
    background-color: lightgreen !important;
    
}

.singleChip2{
    border-radius: 20px !important;
    cursor: pointer;
    padding: 4px;
    margin: 4px !important;
    background-color: green !important;
}
.singleChip:hover{
    cursor: pointer;
    background-color: green !important;
}