.react-calendar-timeline .rct-header-root {
  background-color: #ffffff;
}

.react-calendar-timeline .rct-dateHeader-primary {
  color: #808080;
  font-weight: bold;
}

div.rct-item {
  background-color: default;
  border-radius: 12px;
}


.MuiTooltip-popper{
  color:red
}