.main{
    display: flex;
    flex-direction: row !important;
    height: 512px !important;
    margin-left: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.worker{
    width: 50% !important;
}
.rightSide{
    max-width: 50% !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.dataColumn{
    border-top: 1px solid black;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: flex-start;
    max-height: 205px;
    max-width: 30rem;
    min-width: 15rem;
}
.dataColumn::-webkit-scrollbar{
    display: none;
}

.NoData{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


