.showData{
    /* margin: 7px; */
    height: 45px;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 232, 232) !important;
    justify-content: center;
    align-self: center;
    font-size: 15px;
    width: 90%;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 8px;
    justify-content: center;
}

.textWrap{
    padding-left: 10px;
    font-size: 15px;
}