.textAreaBox{
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.textArea{
    resize: none;
    overflow: scroll;
    margin-top: -10px;
    border: 1px solid green;
    border-top: 0;
    padding: 0px;
    margin-left: -1px;
    /* margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 7px; */
}


.textArea::-webkit-scrollbar{
    display: none;
}

.textArea:focus{
    outline: none;
}