.perPageNote{
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    height: 137px;
    display: flex;
    flex-direction: column;
    bottom: 4px;
}
.twoSections{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.mainNote{
    text-align: center;
    width: 100%;
    cursor: pointer;
    padding:3px;
    border: 2px solid rgb(223, 216, 216);;
}
.actions{
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding:3px;
    border: 2px solid rgb(223, 216, 216);
}
.mainTextArea{
    resize: none;
    border: 2px solid rgb(223, 216, 216);
}
.mainTextArea:focus{
    outline: none;
}

/* @media only screen and (min-width: 1024px) {
    .perPageNote{
        bottom: 42%;
    }
  } */

@media only screen and (min-width: 1440px) {
    .perPageNote{
        bottom: 42%;
    }
  }

@media only screen and (min-width: 2560px) {
    .perPageNote{
        bottom: 42%;
    }
  }