.mainDiv{
    display: flex;
    flex-direction: column !important;
    height: auto !important;
    border:1px solid rgba(0,0,0,.2);
    border-radius: 5px;
}
.search{
    height: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border: 0;
}
img{
    width: 25px;
    padding: 10px;
}

.chipData{
    display: flex;
    width: 100%;
    height: auto;
    /* max-height: 50px;
    overflow-y: scroll; */
}

.chips{
    height: auto;
    margin-top: 4px;
    margin-bottom: 6px;
}

.showIcon{
    width: 30px;
    padding: 8px;
    cursor: pointer;
}

.showIcon2{
    width: 30px;
    padding: 3px;
    cursor: pointer;
}

.filters{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    margin: 2px;
}
.inputField{
    height: 35px;
    outline: none;
    border: 0;
    margin: 2px;
}
.leftIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.DateTime{
    margin: 8px !important;
    padding: 12px !important;
    cursor: pointer;
    border:1px solid rgba(0,0,0,.2);
    border-radius: 5px;
}