.searchField{
    width: 100%;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-self:center;
}
.input[type=text] {
    width: 90%;
    box-sizing: border-box;
    border: 1px solid rgb(235, 232, 232);
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.input[type=text]:focus {
    outline: none !important;
    border:2px solid lightgreen;
}
